{{/* Must list all standard buttons (unless you want to remove them) - in order
of appearance */}}
<!-- Hide all buttons -->
{{ partial "topbar/button/edit.html"     (dict "page" .) }}
{{ partial "topbar/button/edit-wysiwyg.html" (dict "page" .) }}      {{/* custom wysiwyg editor button */}}
{{ partial "topbar/button/source.html"   (dict "page" .) }}
{{ partial "topbar/button/markdown.html" (dict "page" .) }}
{{ partial "topbar/button/print.html"    (dict "page" .) }}
<!--{{ partial "topbar/button/variantswitcher.html" (dict "page" .) }}   {{/* custom Light/Dark color ("variant") switcher button */}}-->
{{ partial "topbar/button/prev.html"     (dict "page" .) }}
{{ partial "topbar/button/next.html"     (dict "page" .) }}
{{ partial "topbar/button/more.html" (dict "page" .) }}              {{/* More menu is typically last */}}
<style>
  @import url(https://fonts.bunny.net/css?family=inter:400,400i,600,600i|inter-tight:500,500i);

  /* Use INTERNAL namespace to override theme colors */
  :root {
    /*--INTERNAL-MAIN-font: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;*/
    --INTERNAL-MAIN-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --INTERNAL-MAIN-letter-spacing: normal;
    --INTERNAL-MAIN-TITLES-font: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --INTERNAL-MAIN-TITLES-H1-font-variation-settings: none;
    --INTERNAL-MAIN-TITLES-H2-font-variation-settings: none;
    --INTERNAL-MAIN-font-variation-settings: none;

    --INTERNAL-PRIMARY-color: rgb(211 232 255);
    --MENU-HEADER-BG-color: var(--INTERNAL-PRIMARY-color);
    --INTERNAL-MENU-SECTIONS-BG-color: var(--INTERNAL-PRIMARY-color);

    --INTERNAL-MENU-SECTIONS-LINK-color: black;
    --INTERNAL-MENU-SECTIONS-ACTIVE-BG-color: var(--INTERNAL-MENU-SECTIONS-BG-color);
    --INTERNAL-MENU-SECTIONS-LINK-HOVER-color: var(--INTERNAL-MENU-SECTIONS-LINK-color);
    --INTERNAL-MENU-SEARCH-color: black;

    /*--INTERNAL-MAIN-LINK-color: rgb(164 215 249);*/
    /*--INTERNAL-MAIN-LINK-color: rgb(77 172 236);*/
    --INTERNAL-MAIN-LINK-color: rgb(69 151 206);
    --INTERNAL-MAIN-LINK-HOVER-color: var(--INTERNAL-MAIN-LINK-color);
    /*--INTERNAL-MENU-SECTION-ACTIVE-CATEGORY-color: white;*/
    --INTERNAL-MENU-SECTION-ACTIVE-CATEGORY-color: var(--INTERNAL-MAIN-LINK-color);
  }

  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    letter-spacing: default;
    text-align: left;
  }

  .logo-title {
    font-size: 18px !important;
    padding: 8px;
  }

  #R-logo.R-default {
    overflow: visible
  }

  #R-search-by {
    background-color: var(--INTERNAL-PRIMARY-color);
    border: black 1px solid;
  }

  main {
    margin-top: 2em;
  }

  #R-sidebar ul.collapsible-menu > li > input + label > .fa-chevron-right {
    display: none;
  }
</style>
